<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="format_word_doc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <format_word_doc.Properties.Settings>
            <setting name="MinistryEducation" serializeAs="String">
                <value>Название Министерство образования</value>
            </setting>
            <setting name="Organization" serializeAs="String">
                <value>Название университета</value>
            </setting>
            <setting name="Faculty" serializeAs="String">
                <value>Название факультета</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value>Название кафедры</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Тема</value>
            </setting>
            <setting name="Student" serializeAs="String">
                <value>ФИО</value>
            </setting>
            <setting name="Completed" serializeAs="String">
                <value>Выполнил студент</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>Название группы</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>Город</value>
            </setting>
            <setting name="Teacher" serializeAs="String">
                <value>ФИО</value>
            </setting>
            <setting name="Post" serializeAs="String">
                <value>Руководитель</value>
            </setting>
            <setting name="Checked" serializeAs="String">
                <value>Проверил</value>
            </setting>
            <setting name="CopyTextCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateTitlePageCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceTitlePageCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateHeadingCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateAutoclavingCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormattingTextCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormattingPictureCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsFieldDocCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageNumberingCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
        </format_word_doc.Properties.Settings>
    </userSettings>
</configuration>